* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*INDEX*/

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  perspective: 200px;
}

img {
  max-width: 100%;
}

/*COMO DEJO EL LOGO DONDE QUIERO Y QUE NO SE MODIFIQUE AL MOVER EL SITIO*/

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;
}

.col {
  width: 100%;
}
.logo {
  animation: logo 2s linear infinite;
}
@keyframes logo {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(180deg);
  }
}

header {
  position: relative;
  background-color: black;
  padding: auto;
}

.nav__title {
  padding: 1rem 1rem 1rem 1rem;
  margin: 0rem;
  text-align: center;
  color: white;
  word-spacing: 0.25em;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  font-size: 1rem;
}

.nav__item {
  margin: 1rem;
}

.nav__link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.65;
}

#intro-section {
  background-color: white;
  color: black;
  padding: 5rem 0 2rem;
}

.display-2 {
  text-transform: capitalize;
  color: black;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.display-2--intro {
  font-weight: 600;
  display: inline-block;
  height: 100px;
  padding-bottom: 1rem;
}

.display-2--description {
  font-size: 1rem;
  margin-top: 1.2rem;
  display: inline-block;
  text-align: center;
  padding-bottom: 2rem;
}
.card {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1rem;
  position: relative;
}
.card__image {
  border-radius: 20px;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7));
}
.textbanner {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s;
}
.textbanner:hover {
  opacity: 2;
}

/*ESLOGAN OK*/
.pedido {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  background-color: #f9921c;
  background: linear-gradient(to right, #f9921c, #804809);
  padding: 1rem;
}
.pedido__titulo {
  margin-right: 1rem;
  color: white;
}

/*ESTILO DE FOOTER*/

.footer {
  background-color: black;
}
.footer-sm {
  color: white;
  padding-top: 1rem;
  text-align: center;
}

.footer-sm__icons {
  text-align: center;
  padding: 10px;
  margin: 1rem;
}

.footer-bottom__copyright {
  text-align: center;
  color: gray;
  font-weight: 400;
  padding-bottom: 1rem;
}

/*CONTACTO*/

.section__formcontacto {
  background-image: url(/img/fondocontacto.png);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  box-sizing: border-box;

  border-radius: 7px;
}
form h1 {
  color: white;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
}
form h2 {
  color: white;
  font-size: 17px;
}
.condiciones {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  color: white;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  color: black;
}
label,
legend {
  color: white;
}
textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
form #boton {
  background: goldenrod;
  color: white;
  padding: 10px;
}
form #boton:hover {
  cursor: pointer;
}

/*NOSOTROS*/
.nosotros {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.quienes__titulo {
  background-color: #f9921c;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-top: 3rem;
}
.quienes__presentacion {
  background-color: #f9921c;
  flex-wrap: wrap;
  align-self: center;
  padding: 1rem;

  font-size: 25px;
  font-family: "roboto", sans-serif;
  line-height: 3rem;
}
.nosotros svg {
  margin: auto;
}
.taller {
  margin: 0;
  grid-gap: 2rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-columns: 12rem 1fr;
  grid-template-areas:
    "titulo titulo"
    "intro intro"
    "img img";
}
.taller__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: titulo;

  font-size: 50px;
}
.taller__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: intro;
  font-size: 25px;
  color: black;
}
.taller__img {
  grid-area: img;
  border-radius: 20px;
}
.ubicacion {
  padding: 1rem;
  margin: 2rem;
  gap: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 1.5);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
.ubicacion h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: black;
}
.ubicacion p {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.ubicacion iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  border: solid 1.5px black;
  border-radius: 20px;
}

/*PRODUCTOS*/

.catalogo {
  background-color: #f9921c;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 3rem;
  padding: 2rem;
}

.modelos h1 {
  font-size: 300%;
  text-align: center;
  padding-top: 2rem;
  font-weight: bold;
}
.modelos h3 {
  font-size: 100%;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}
.catalogo .cajas {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.catalogo .cajas:hover .cajas:focus {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.catalogo .cajas img {
  width: 200px;
  height: 200px;
  padding-top: 1rem;
}
.catalogo .cajas h2 {
  font-weight: 600;
  padding-bottom: 1rem;
}
.catalogo .cajas p {
  padding: 0.5rem;
  font-weight: bold;
  text-decoration: solid;
}

/*MATERIALES*/
.padre {
  max-width: 2400px;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("/img/materiales1.png");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hijo1 {
  justify-content: center;
  align-items: center;
  font-size: 20px;
  display: flex;
  margin-bottom: 50px;
  padding: 50px;
}
.hijo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

/*MEDIA QUERIES*/
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
  .logo {
    padding-left: 5rem;
  }
  .nav__list {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .display-2--intro {
    font-size: 3rem;
  }

  .display-2--description {
    font-size: 1.5rem;
    display: inline-block;
  }
  .hijo1 {
    justify-content: center;
    align-items: center;
    font-size: 30px;
    display: flex;
    margin-bottom: 50px;
    padding: 50px;
  }
  .hijo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding: 10px;
  }
  .textbanner {
    font-size: 30px;
  }
}
